{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block body %}
<div class="window">
  <div class="titlebar"><span>Track design library ({{ figures.len() }} designs)</span><span class="btn"></span></div>
  <div class="body">
    <p>Stock RollerCoaster Tycoon 2 designs, searchable by models in library mode. Previews are
    rendered by the game's track preview pipeline.</p>
    {% call macros::gallery(figures.as_slice()) %}{% endcall %}
  </div>
</div>
<p class="backlink"><a href="index.html">&larr; all runs</a></p>
{% endblock %}
